:root {
  --color-fondo: rgb(20, 21, 19);
  --color-texto: #000;
  --color-enlace: rgb(224, 218, 192);
  --color-enlace-hover: orangered;
  --color-carrito-fondo: white;
  --color-carrito-borde: #ccc;
  --color-total: black;
  --color-dropdown-fondo: white;
  --color-dropdown-hover: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  background-color: var(--color-fondo);
  z-index: 1;
}

.header img {
  height: 80px;
  width: 80px;
  margin-right: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 0;
}

.nav-access {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
}

.navbar i {
  font-size: 25px;
  display: flex;
}

.navbar-link {
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 300;
  position: relative;
}

.navbar-link::after {
  content: "";
  height: 2px;
  background-color: var(--color-enlace);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: width 1s ease, background-color 1s ease;
  width: 0;
}

.navbar-link:hover::after {
  width: 100%;
  background-color: var(--color-enlace-hover);
}

.navbar-list li a, .fa-solid {
  text-decoration: none;
  font-size: 20px;
  font-weight: 510;
  color: var(--color-enlace);
  transition: 0.6s ease;
}

.navbar-list li a:hover, .fa-solid:hover {
  color: var(--color-enlace-hover);
}

#toggle-menu {
  display: none;
}

.navbar-list {
  display: flex;
  gap: 20px;
}

.bars-menu {
  display: none;
}

.bars-menu span {
  height: 3px;
  width: 30px;
  background-image: linear-gradient(to right, var(--color-enlace), var(--color-enlace));
  transition: transform 0.3s;
}

.navbar-cart {
  position: relative;
  display: flex;
  align-items: center;
}

#cart-toggle {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

#cart-toggle:hover {
  color: #f0f0f0;
}

#cart {
  display: none;
  position: absolute;
  left: 100%;
  top: 115%;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 25px;
  width: 300px;
  padding: 10px;
  transform: translateX(-86%);
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
  visibility: hidden;
}

#cart.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

#cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#cart-items li {
  position: relative;
  margin: 5px 0;
  padding: 15px;
  border-bottom: 5px solid #ccc;
  display: block;
  padding-left: 60px;
  text-align: left;
}

#cart-items li button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  margin: 10;
}

#total-price {
  margin: 10px 0 0 0;
  padding: 5px;
  color: black;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 60px;
  transform: translateX(0);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
  visibility: hidden;
}

.dropdown.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown li a {
  display: block;
  padding: 15px 20px;
  color: var(--color-texto);
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#hero {
  margin-top: 100px;
  display: flex;
  padding: 70px 0px;
  max-width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.hero-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 0 0 20px 50px;
  margin-left: 150px;
}

#hero img {
  flex-basis: 100%;
  align-items: center;
}

.hero-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hero-images img {
  width: 25%;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.hero-presentation h1 {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
}

.hero-presentation h2 {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
}

.hero-presentation p {
  font-size: 14px;
  max-width: 350px;
  color: rgb(255, 255, 255);
}

.button-container {
  display: flex;
  gap: 15px;
}

.button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
}

.primary-btn, .alt-btn {
  background-color: wheat;
  color: black;
  border-radius: 50px;
  width: 130px;
  height: 60px;
  text-shadow: 7px 7px 7px #000000;
}

.primary-btn:hover {
  background-color: white;
  color: black;
}

.alt-btn:hover {
  background-color: white;
  color: black;
}

#about {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 150px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(252, 243, 226);
}

.about-title {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-text ul {
  padding-left: 20px;
  list-style-type: disc;

}

.about-text li {
  margin-bottom: 10px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  min-width: 200px;
  padding: 10px;
}

.about-text {
  width: 100%;
  text-align: justify;
  margin-bottom: 50px;
}

.about-text p, .about-text ul {
  font-size: 16px;
  line-height: 1.6;
}

.about-container .about-text {
  text-align: left;
}

#about p {
  margin: 20px;
  font-weight: 500;
}

#cards-section {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 70px 0px;
  width: 100%;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.cards-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
}

.filter {
  flex: 1 1 calc(50% - 10px);
  max-width: 150px;
  background-color: rgba(255, 255, 255);
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
  text-shadow: 7px 7px 7px #000000;
  font-weight: 100;
}

.filter:hover {
  background-color: #e0e0e0;
  border-color: #888;
}

.filter.active {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}

.product-container {
  display: grid;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  justify-items: center;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.product-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  width: 200px;
  border: 4px solid #ffffff;
  border-radius: 15px;
  padding: 15px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  margin: 5px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  height: 180px;
  object-fit: cover;
}

.product-card h2 {
  font-size: 20px;
  margin: 10px 0;
  flex-grow: 1;
  font-weight: 500;
}

.product-card p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.product-card .price-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  align-items: center;
}

.product-card span {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card button {
  padding: 5px 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.cards-title h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.cards img {
  height: 50px;
  width: 50px;
}

.cards h2 {
  font-size: 18px;
  font-weight: 550;
}

.cards h3 {
  font-size: 12px;
  font-weight: 500;
}

#contact {
  background-color: rgb(36, 36, 36);
  padding: 50px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.black-bg {
  background-color: black;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  gap: 200px;
}

label {
  color: white;
}

.info-column p, .info-column h3 {
  color: #eeeeee;
  display: flex;
  margin: 0px 0px 50px 0px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.info-column img {
  height: 35px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

button[type="submit"]:hover {
  background-color: greenyellow;
  color: black;
}

footer { 
  display: flex; 
  justify-content: center; 
  color: white; 
  width: 100%; 
  text-align: center; 
  padding: 60px 0px 30px 0px; 
  font-size: 20px; 
  background-color: black; 
} 

.links { 
  text-align: left; 
} 

.links h3 { 
  padding-bottom: 25px; 
} 

.container { 
  max-width: 1200px; 
  display: flex; 
  margin: 0 auto; 
  gap: 130px; 
} 

.links-duo { 
  display: flex; 
  gap: 120px; 
  justify-content: space-around; 
  flex-wrap: wrap; 
} 

.links li { 
  display: inline-block; 
  margin: 15px 0; 
  font-size: 15px; 
  display: block; 
} 

.links a { 
  color: #eeeeee; 
  text-decoration: none; 
} 

.links a img { 
  height: 30px; 
} 

#product-details {
  background-color: whitesmoke;
  width: 100%;  
}

#product-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 150px 30px 150px;
  font-weight: 300;
  text-align: center;
  background-color: rgb(252, 243, 226);
}

#product-reviews p {
  margin: 20px;
}

.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.comment-form {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment-form h3 {
  margin-bottom: 15px;
}

.comment-form label {
  display: block;
  margin-bottom: 5px;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}

.size-selection {
  margin-top: 20px;
}

.size-button {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.size-button.selected {
  background-color: blue;
  color: white;
}

.size-button:hover {
  background-color: #007bff;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  font-size: 14px;
}

.modal-content h1 {
  margin-bottom: 15px;
  font-size: 25px;
}

.modal-content p {
  margin-bottom: 10px;
}

.modal-content .modal-product-price {
  margin-bottom: 15px;
}

.modal-content select {
  margin-bottom: 15px;
}

.modal-content #add-to-cart-confirm {
  margin-top: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product-image img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-wrapper {
  display: none;
  position: absolute;
  left: -50px;
  top: 140%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

#search-input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  left: auto;
  background-color: white;
}

.search-results {
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  width: 250px;
  margin-top: 10px;
}

.search-results div {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.search-results div:hover {
  background-color: #f0f0f0;
}

#search-icon {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin-left: 5px;
}

#search-icon:hover {
  opacity: 0.8;
}




















